Client/bin
Client/gen
Client/libs
local.properties
*.iml
.gradle
.idea/
Client/build
Client/app/build
Client/app/release
Client/captures

Server/TCPServer/bin
Server/TCPServer/obj
Server/TCPServerVB/bin
Server/TCPServerVB/obj
Server/.vs
